#pragma code_page(65001)

#include "resource.h"
#include <windows.h>
#include <winver.h>
#include "Version.h"

IDI_EVERON ICON "Everon.ico"

IDD_SETTINGS DIALOGEX 0, 0, 330, 312
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Everon Settings"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Language:", IDC_LANGUAGE_LABEL, 12, 13, 58, 9
    COMBOBOX        IDC_LANGUAGE_COMBO, 82, 10, 236, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "General", IDC_GENERAL_GROUP, 10, 34, 310, 98
    LTEXT           "Key press:", IDC_KEYPRESS_LABEL, 22, 51, 78, 9
    COMBOBOX        IDC_KEY_COMBO, 110, 48, 198, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Period:", IDC_PERIOD_LABEL, 22, 72, 78, 9
    EDITTEXT        IDC_PERIOD_EDIT, 110, 69, 58, 15, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "seconds", IDC_PERIOD_SECONDS_LABEL, 176, 72, 120, 9
    CONTROL         "Keep display on", IDC_KEEPDISPLAY_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 22, 91, 286, 10
    CONTROL         "Start with Windows", IDC_AUTOSTART_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 22, 106, 286, 10
    CONTROL         "Show notifications on Enable/Disable", IDC_NOTIFY_TOGGLE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 22, 121, 286, 10

    GROUPBOX        "Timer", IDC_TIMER_GROUP, 10, 139, 310, 70
    CONTROL         "Indefinitely", IDC_TIMER_INDEFINITE, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 22, 155, 120, 10
    CONTROL         "For duration:", IDC_TIMER_DURATION, "Button", BS_AUTORADIOBUTTON, 22, 172, 90, 10
    EDITTEXT        IDC_TIMER_DURATION_EDIT, 120, 169, 50, 15, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "minutes (5-1440)", IDC_TIMER_DURATION_LABEL, 178, 172, 125, 9
    CONTROL         "Until time:", IDC_TIMER_UNTIL, "Button", BS_AUTORADIOBUTTON, 22, 190, 90, 10
    CONTROL         "", IDC_TIMER_UNTIL_TIME, "SysDateTimePick32", DTS_TIMEFORMAT | WS_TABSTOP, 120, 187, 105, 15
    LTEXT           "", IDC_TIMER_UNTIL_HINT, 232, 190, 76, 9

    GROUPBOX        "Hotkey", IDC_HOTKEYS_GROUP, 10, 216, 310, 55
    LTEXT           "Toggle hotkey:", IDC_HOTKEY_LABEL, 22, 231, 286, 9
    COMBOBOX        IDC_HOTKEY_COMBO, 22, 243, 286, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 210, 287, 50, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 268, 287, 50, 16
END

IDD_ABOUT DIALOGEX 0, 0, 250, 132
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Everon"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    ICON            IDI_EVERON, IDC_STATIC, 14, 14, 32, 32
    LTEXT           "", IDC_ABOUT_VERSION, 56, 14, 178, 10
    LTEXT           "", IDC_ABOUT_TAGLINE, 56, 29, 178, 10
    LTEXT           "", IDC_ABOUT_AUTHOR, 56, 49, 178, 10
    LTEXT           "", IDC_ABOUT_LICENSE, 56, 64, 178, 10
    CONTROL         "", IDC_ABOUT_LINK, "SysLink", WS_TABSTOP, 56, 82, 178, 14
    DEFPUSHBUTTON   "OK", IDOK, 100, 108, 50, 16
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     VER_FILEVERSION
 PRODUCTVERSION  VER_PRODUCTVERSION
 FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
 FILEFLAGS       VS_FF_DEBUG
#else
 FILEFLAGS       0x0L
#endif
 FILEOS          VOS__WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN

    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Stanley Lloyd\0"
      VALUE "FileDescription",  "Everon\0"
      VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
      VALUE "InternalName",     "Everon\0"
      VALUE "OriginalFilename", "Everon.exe\0"
      VALUE "ProductName",      "Everon\0"
      VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2025-2026 Stanley Lloyd\0"
      VALUE "Comments",         "Tray utility that keeps the PC awake; optional F15/F16/F17 key press; timer support. PolyForm Noncommercial 1.0.0.\0"
    END

    BLOCK "041904B0"
    BEGIN
      VALUE "CompanyName",      "Stanley Lloyd\0"
      VALUE "FileDescription",  "Everon\0"
      VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
      VALUE "InternalName",     "Everon\0"
      VALUE "OriginalFilename", "Everon.exe\0"
      VALUE "ProductName",      "Everon\0"
      VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2025-2026 Stanley Lloyd\0"
      VALUE "Comments",         "Утилита в трее, поддерживающая компьютер активным; опционально F15/F16/F17; таймер. PolyForm Noncommercial 1.0.0.\0"
    END

    BLOCK "040C04B0"
    BEGIN
      VALUE "CompanyName",      "Stanley Lloyd\0"
      VALUE "FileDescription",  "Everon\0"
      VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
      VALUE "InternalName",     "Everon\0"
      VALUE "OriginalFilename", "Everon.exe\0"
      VALUE "ProductName",      "Everon\0"
      VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2025-2026 Stanley Lloyd\0"
      VALUE "Comments",         "Utilitaire de barre d'état qui maintient le PC éveillé; F15/F16/F17 optionnel; minuteur. PolyForm Noncommercial 1.0.0.\0"
    END

    BLOCK "040704B0"
    BEGIN
      VALUE "CompanyName",      "Stanley Lloyd\0"
      VALUE "FileDescription",  "Everon\0"
      VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
      VALUE "InternalName",     "Everon\0"
      VALUE "OriginalFilename", "Everon.exe\0"
      VALUE "ProductName",      "Everon\0"
      VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2025-2026 Stanley Lloyd\0"
      VALUE "Comments",         "Tray-Tool, das den PC wach hält; optional F15/F16/F17; Timer. PolyForm Noncommercial 1.0.0.\0"
    END

    BLOCK "041004B0"
    BEGIN
      VALUE "CompanyName",      "Stanley Lloyd\0"
      VALUE "FileDescription",  "Everon\0"
      VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
      VALUE "InternalName",     "Everon\0"
      VALUE "OriginalFilename", "Everon.exe\0"
      VALUE "ProductName",      "Everon\0"
      VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2025-2026 Stanley Lloyd\0"
      VALUE "Comments",         "Utilità tray che mantiene attivo il PC; F15/F16/F17 opzionale; timer. PolyForm Noncommercial 1.0.0.\0"
    END

    BLOCK "0C0A04B0"
    BEGIN
      VALUE "CompanyName",      "Stanley Lloyd\0"
      VALUE "FileDescription",  "Everon\0"
      VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
      VALUE "InternalName",     "Everon\0"
      VALUE "OriginalFilename", "Everon.exe\0"
      VALUE "ProductName",      "Everon\0"
      VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2025-2026 Stanley Lloyd\0"
      VALUE "Comments",         "Utilidad de bandeja que mantiene activo el PC; F15/F16/F17 opcional; temporizador. PolyForm Noncommercial 1.0.0.\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200, 0x0419, 1200, 0x040C, 1200, 0x0407, 1200, 0x0410, 1200, 0x0C0A, 1200
  END
END
